<div id="wrapper" class="">
  <%= render 'layouts/sidebar' %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="col-md-12 lp-header">
      <div class="col-md-9"></div>
      <div id="col-md-3">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'search/index' %>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
